<style>
    input.ng-invalid.ng-dirty{border:1px solid red;}
    </style>
<div class="row" ng-controller="loginController">

    <div class="col-sm-8 col-sm-offset-2 text">
        <h1><strong>Chrome Extension</strong> Login Form</h1>
    </div>
</div>
<div class="rows">
    <div class="col-sm-6 col-sm-offset-3 form-box">
        <div class="form-top">
            <div class="form-top-left">
                <h3>Login to our site</h3>
                <p>Enter your username and password to log on:</p>
            </div>
            <div class="form-top-right">
                <i class="fa fa-key"></i>
            </div>
        </div>
        <div class="form-bottom" >
            <form  class="login-form" name="frm">
                <div class="form-group">
                       
                    <label class="sr-only" for="form-username">Username</label>
                    <input type="text" ng-model="username" required  placeholder="Username..." class="form-username form-control" >
                    <span ng-show="frm.username.$dirty && frm.username.$error.required">Required.</span>
                   </div>
                <div class="form-group">
                    <label class="sr-only" for="form-password">Password</label>
                    <input type="password" ng-model="password" ng-minlength="5" ng-maxlength="10" required  placeholder="Password..." class="form-password form-control">
                    <span ng-show="frm.password.$dirty && frm.password.$error.required">Required.</span>
                     <span ng-show="frm.password.$dirty && frm.password.$error.minlength">Atleast % Character.</span>
                      <span ng-show="frm.password.$dirty && frm.password.$error.maxlength">Not More then 10 Character.</span>
                </div>
                <button type="submit" ng-disabled="frm.$invalid" class="btn" ng-click="Login()" >Sign in!</button>
            </form>
        </div>
    </div>
</div>
<div class="rows">
    <div class="col-sm-6 col-sm-offset-3 social-login">

        <div class="social-login-buttons">
            <a class="btn btn-link-1 btn-link-1-facebook" href="#">
                <i class="fa fa-facebook"></i>Facebook
            </a>
            <a class="btn btn-link-1 btn-link-1-twitter" href="#">
                <i class="fa fa-twitter"></i>Twitter
            </a>
            <a class="btn btn-link-1 btn-link-1-google-plus" href="#">
                <i class="fa fa-google-plus"></i>Google Plus
            </a>
        </div>
    </div>
</div>

